.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: azure;
}

.modal-title {
  text-align: center;
  overflow-wrap: break-word;
}

.modal-descr {
  font-size: 16px;
  font-weight: bold;
}

.modal-text {
  overflow-wrap: break-word;
}

.modal-status {
  margin-bottom: 20px;
}
